---
import Layout from "../layouts/Layout.astro";
---
<Layout title="gesteratops">
  <img src="/ghost.gif" alt="gesteratops" width="184px" height="184px" />
  <main>
    <h1>gesteratops</h1>
    <nav>
      <a href="https://gitlab.com/gesteratops">Gitlab</a>
      <a href="https://steamcommunity.com/profiles/76561198028317486">Steam</a>
      <a href="https://app.scope.gg/dashboard/68051758">Scope.gg</a>
    </nav>
  </main>
</Layout>
